.page {
  background-color: rgba(245, 245, 245, 1);
  position: relative;
  width: 100vw;
  height: 73.13vw;
  overflow: hidden;
}

.group_1 {
  position: relative;
  width: 100vw;
  height: 6.12vw;
  background: url(./img/SketchPngda8648c1523400577ffe9a8fc32cce3ac4ed129705fd680ba8ca05ef5e1752bc.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 7.5vw;
  height: 2.23vw;
  margin: 0.83vw 0 0 0.55vw;
}

.thumbnail_1 {
  width: 1.39vw;
  height: 1.39vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_1 {
  width: 3.89vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.12vw;
  margin: 0.55vw 0.83vw 0 0;
}

.box_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 7.5vw;
  height: 2.23vw;
  margin: 0.83vw 0 0 0.55vw;
}

.thumbnail_2 {
  width: 1.39vw;
  height: 1.39vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_2 {
  width: 3.89vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.12vw;
  margin: 0.55vw 0.83vw 0 0;
}

.box_3 {
  width: 7.5vw;
  height: 2.23vw;
  background: url(./img/SketchPng0f72a72b65b9e3368f02741f4e7d4a9d22273abf64e0bc6bdd021ab6390cfb9d.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 0.83vw 0 0 0.55vw;
}

.thumbnail_3 {
  width: 1.39vw;
  height: 1.39vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_3 {
  width: 3.89vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.12vw;
  margin: 0.55vw 0.83vw 0 0;
}

.box_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 8.48vw;
  height: 2.23vw;
  margin: 0.83vw 0 0 0.55vw;
}

.thumbnail_4 {
  width: 1.39vw;
  height: 1.39vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_4 {
  width: 4.87vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.12vw;
  margin: 0.55vw 0.83vw 0 0;
}

.box_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 9.45vw;
  height: 2.23vw;
  margin: 0.83vw 56.8vw 0 0.55vw;
}

.thumbnail_5 {
  width: 1.39vw;
  height: 1.39vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_5 {
  width: 5.84vw;
  height: 1.12vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.12vw;
  margin: 0.55vw 0.83vw 0 0;
}

.box_6 {
  position: absolute;
  left: 0.56vw;
  top: 3.62vw;
  width: 98.89vw;
  height: 3.34vw;
  background: url(./img/SketchPngaca71824e0f3a35b782a7597ec7cb1d61a43e002fda5d42bd3fd9a36623cc90a.png)
    100% no-repeat;
  background-size: 100% 100%;
  justify-content: flex-center;
}

.label_1 {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_6 {
  width: 7.16vw;
  height: 1.81vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.81vw;
  margin: 0.9vw 0 0 0.83vw;
}

.group_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 2px 2px 0px;
  height: 1.25vw;
  border: 1px solid rgba(44, 191, 100, 1);
  width: 3.55vw;
  position: relative;
  margin: 1.18vw 0 0 1.18vw;
}

.text_7 {
  width: 2.5vw;
  height: 0.84vw;
  overflow-wrap: break-word;
  color: rgba(44, 191, 100, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 0.2vw 0 0 0.76vw;
}

.image-wrapper_1 {
  background-color: rgba(44, 191, 100, 1);
  border-radius: 50%;
  height: 1.25vw;
  border: 1px solid rgba(44, 191, 100, 1);
  width: 1.25vw;
  position: absolute;
  left: -0.62vw;
  top: 0;
}

.thumbnail_6 {
  width: 0.7vw;
  height: 0.49vw;
  margin: 0.41vw 0 0 0.27vw;
}

.text-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  height: 1.39vw;
  border: 1px solid rgba(219, 65, 65, 1);
  width: 1.39vw;
  margin: 1.11vw 0 0 1.11vw;
}

.text_8 {
  width: 0.98vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(219, 65, 65, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-left: 0.21vw;
}

.text-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  height: 1.39vw;
  border: 1px solid rgba(18, 146, 81, 1);
  width: 1.39vw;
  margin: 1.11vw 0 0 0.55vw;
}

.text_9 {
  width: 0.98vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(18, 146, 81, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-left: 0.21vw;
}

.text-wrapper_3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  height: 1.39vw;
  border: 1px solid rgba(112, 168, 6, 1);
  width: 1.39vw;
  margin: 1.11vw 0 0 0.55vw;
}

.text_10 {
  width: 0.98vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(112, 168, 6, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-left: 0.21vw;
}

.text-wrapper_4 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  height: 1.39vw;
  border: 1px solid rgba(241, 145, 0, 1);
  width: 1.39vw;
  margin: 1.11vw 0 0 0.55vw;
}

.text_11 {
  width: 0.98vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(241, 145, 0, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-left: 0.21vw;
}

.text-wrapper_5 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  height: 1.39vw;
  border: 1px solid rgba(255, 108, 132, 1);
  width: 1.39vw;
  margin: 1.11vw 0 0 0.55vw;
}

.text_12 {
  width: 0.98vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 108, 132, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-left: 0.21vw;
}

.text-wrapper_6 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  height: 1.39vw;
  border: 1px solid rgba(21, 189, 207, 1);
  width: 1.39vw;
  margin: 1.11vw 0 0 0.55vw;
}

.text_13 {
  width: 0.98vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(21, 189, 207, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-left: 0.21vw;
}

.text-wrapper_7 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  height: 1.39vw;
  border: 1px solid rgba(95, 115, 151, 1);
  width: 1.39vw;
  margin: 1.11vw 0 0 0.55vw;
}

.text_14 {
  width: 0.98vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(95, 115, 151, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-left: 0.21vw;
}

.text_15 {
  width: 3.34vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.11vw 0 0 2.22vw;
}

.text_16 {
  width: 7.57vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-top: 1.12vw;
}

.text_17 {
  width: 4.17vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.11vw 0 0 2.22vw;
}

.text_18 {
  width: 5.07vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-top: 1.12vw;
}

.text_19 {
  width: 4.17vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.11vw 0 0 2.22vw;
}

.text_20 {
  width: 4.73vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-top: 1.12vw;
}

.text_21 {
  width: 3.34vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 1.11vw 0 0 2.22vw;
}

.text_22 {
  width: 4.73vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin-top: 1.12vw;
}

.text_23 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.9vw 0 0 19.23vw;
}

.thumbnail_7 {
  width: 0.56vw;
  height: 0.56vw;
  margin: 1.38vw 0.83vw 0 0.13vw;
}

.group_3 {
  position: relative;
  width: 98.89vw;
  height: 65.07vw;
  background: url(./img/SketchPngdd1d36b56a06dfdebe5f6ea53172a27719f28fed8b98eaf1ccf86e6cffef832e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin: 1.38vw 0 0.55vw 0.55vw;
}

.group_4 {
  width: 15vw;
  height: 64.52vw;
  margin-top: 0.56vw;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  width: 13.41vw;
  height: 2.23vw;
  border: 1px solid rgba(217, 217, 217, 1);
  margin-left: 0.84vw;
}

.box_7 {
  background-color: rgba(224, 239, 255, 1);
  border-radius: 1px 0px 0px 1px;
  width: 6.67vw;
  height: 2.09vw;
  margin: 0.06vw 0 0 0.06vw;
}

.thumbnail_8 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.48vw 0 0 0.55vw;
}

.text_24 {
  width: 4.03vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.34vw 0.62vw 0 0.34vw;
}

.thumbnail_9 {
  width: 1.12vw;
  height: 1.12vw;
  margin: 0.55vw 0 0 0.62vw;
}

.text_25 {
  width: 4.03vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.41vw 0.55vw 0 0.34vw;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  width: 15vw;
  height: 61.74vw;
  margin-top: 0.56vw;
}

.text-wrapper_8 {
  height: 2.23vw;
  width: 15vw;
}

.text_26 {
  width: 4.03vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_9 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  width: 15vw;
}

.text_27 {
  width: 7.02vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_10 {
  height: 2.23vw;
  width: 15vw;
}

.text_28 {
  width: 8.2vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_11 {
  height: 2.23vw;
  width: 15vw;
}

.text_29 {
  width: 8.2vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_12 {
  height: 2.23vw;
  width: 15vw;
}

.text_30 {
  width: 7.99vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_13 {
  height: 2.23vw;
  width: 15vw;
}

.text_31 {
  width: 7.57vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_14 {
  height: 2.23vw;
  width: 15vw;
}

.text_32 {
  width: 7.57vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_15 {
  height: 2.23vw;
  width: 15vw;
}

.text_33 {
  width: 7.57vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_16 {
  height: 2.23vw;
  margin-bottom: 41.74vw;
  width: 15vw;
}

.text_34 {
  width: 6.6vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.group_5 {
  background-color: rgba(217, 217, 217, 1);
  width: 0.07vw;
  height: 65.07vw;
}

.group_6 {
  width: 83.82vw;
  height: 64.24vw;
}

.group_7 {
  width: 58.41vw;
  height: 2.78vw;
}

.text-wrapper_17 {
  height: 2.78vw;
  width: 6.12vw;
}

.text_35 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.62vw 0 0 1.11vw;
}

.text-wrapper_18 {
  height: 2.78vw;
  width: 7.09vw;
}

.text_36 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.62vw 0 0 1.11vw;
}

.section_3 {
  width: 11.6vw;
  height: 2.78vw;
}

.text_37 {
  width: 9.38vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.62vw 0 0 1.11vw;
}

.image_1 {
  width: 11.25vw;
  height: 0.14vw;
  margin-top: 0.49vw;
}

.text-wrapper_19 {
  height: 2.78vw;
  width: 12.78vw;
}

.text_38 {
  width: 10.56vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.62vw 0 0 1.11vw;
}

.text-wrapper_20 {
  height: 2.78vw;
  width: 11.81vw;
}

.text_39 {
  width: 9.59vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.62vw 0 0 1.11vw;
}

.text-wrapper_21 {
  height: 2.78vw;
  width: 9.03vw;
}

.text_40 {
  width: 6.81vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.62vw 0 0 1.11vw;
}

.image_2 {
  width: 83.82vw;
  height: 0.07vw;
}

.group_8 {
  width: 81.95vw;
  height: 47.3vw;
  margin: 0.76vw 0 0 1.04vw;
}

.box_8 {
  background-color: rgba(217, 217, 217, 1);
  border-radius: 1px;
  position: relative;
  width: 0.14vw;
  height: 15.21vw;
  margin-top: 0.42vw;
}

.group_9 {
  background-color: rgba(0, 122, 255, 1);
  border-radius: 50%;
  position: absolute;
  left: -0.2vw;
  top: 0;
  width: 0.84vw;
  height: 0.84vw;
  border: 2px solid rgba(0, 122, 255, 1);
}

.group_10 {
  background-color: rgba(0, 122, 255, 1);
  border-radius: 50%;
  position: absolute;
  left: -0.2vw;
  top: 7.44vw;
  width: 0.84vw;
  height: 0.84vw;
  border: 2px solid rgba(0, 122, 255, 1);
}

.box_9 {
  width: 12.23vw;
  height: 21.19vw;
  margin-left: 0.77vw;
}

.text_41 {
  width: 5.49vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.section_4 {
  width: 12.23vw;
  height: 4.31vw;
  background: url(./img/SketchPng250f208c232b45fcf7a61336083d4d1e297f21d29a4dacf56c2768737afc9bbb.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.49vw;
}

.text-wrapper_22 {
  width: 1.95vw;
  height: 3.2vw;
  margin: 0.55vw 0 0 1.18vw;
}

.text_42 {
  width: 1.81vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-left: 0.07vw;
}

.text_43 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.14vw;
}

.image_3 {
  width: 0.07vw;
  height: 3.2vw;
  margin: 0.55vw 0 0 1.18vw;
}

.text-wrapper_23 {
  width: 6.05vw;
  height: 3.34vw;
  margin: 0.48vw 1.31vw 0 0.48vw;
}

.text_44 {
  width: 6.05vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_45 {
  width: 5.49vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.28vw;
}

.text_46 {
  width: 5.49vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 1.12vw;
}

.image-text_1 {
  width: 12.23vw;
  height: 6.95vw;
  margin-top: 0.49vw;
}

.section_5 {
  position: relative;
  width: 12.23vw;
  height: 4.31vw;
  background: url(./img/SketchPngbfcb8b97335c659dc48f23cf20743fa7d96850a9552f42bc8db676e6e4950bf4.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.text-group_1 {
  width: 1.95vw;
  height: 3.2vw;
  margin: 0.55vw 0 0 1.18vw;
}

.text_47 {
  width: 1.74vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-left: 0.14vw;
}

.text_48 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.14vw;
}

.image_4 {
  width: 0.07vw;
  height: 3.2vw;
  margin: 0.55vw 0 0 1.11vw;
}

.text-group_2 {
  width: 6.05vw;
  height: 3.34vw;
  margin: 0.48vw 1.31vw 0 0.55vw;
}

.text_49 {
  width: 6.05vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_50 {
  width: 5.49vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.28vw;
}

.text-group_3 {
  position: absolute;
  left: 1.19vw;
  top: 0.56vw;
  width: 1.95vw;
  height: 3.2vw;
}

.text_47 {
  width: 1.74vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-left: 0.14vw;
}

.text_48 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.14vw;
}

.text-group_4 {
  position: absolute;
  left: 4.87vw;
  top: 0.49vw;
  width: 6.05vw;
  height: 3.34vw;
}

.text_49 {
  width: 6.05vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_50 {
  width: 5.49vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.28vw;
}

.text-group_5 {
  width: 5.49vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 1.12vw;
}

.section_6 {
  width: 12.23vw;
  height: 4.31vw;
  background: url(./img/SketchPngbfcb8b97335c659dc48f23cf20743fa7d96850a9552f42bc8db676e6e4950bf4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.49vw;
}

.text-group_6 {
  width: 1.95vw;
  height: 3.2vw;
  margin: 0.55vw 0 0 1.18vw;
}

.text_51 {
  width: 1.81vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-left: 0.07vw;
}

.text_52 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.14vw;
}

.image_5 {
  width: 0.07vw;
  height: 3.2vw;
  margin: 0.55vw 0 0 1.11vw;
}

.text-group_7 {
  width: 6.05vw;
  height: 3.34vw;
  margin: 0.48vw 1.31vw 0 0.55vw;
}

.text_53 {
  width: 6.05vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_54 {
  width: 5.49vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.28vw;
}

.box_10 {
  width: 12.23vw;
  height: 44.73vw;
  margin: 2.56vw 0 0 0.83vw;
}

.text-wrapper_24 {
  width: 4.87vw;
  height: 1.95vw;
}

.text_55 {
  width: 2.92vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.95vw;
}

.text_56 {
  width: 1.95vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.95vw;
}

.text-wrapper_25 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  margin-top: 0.56vw;
  width: 12.23vw;
}

.text_57 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 5.13vw;
}

.text-wrapper_26 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
}

.text_58 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 5.13vw;
}

.text-wrapper_27 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
}

.text_59 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 5.13vw;
}

.group_11 {
  width: 12.23vw;
  height: 35.56vw;
}

.text-wrapper_28 {
  background-color: rgba(224, 239, 255, 1);
  height: 35.56vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 3.89vw;
}

.paragraph_1 {
  width: 1.95vw;
  height: 3.06vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  line-height: 1.53vw;
  margin: 16.25vw 0 0 1.94vw;
}

.group_12 {
  width: 8.34vw;
  height: 35.56vw;
}

.text-wrapper_29 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_60 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_30 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_61 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_31 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_62 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_32 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_63 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 2.22vw;
}

.text-wrapper_33 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_64 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_34 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_65 {
  width: 0.98vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.68vw;
}

.text-wrapper_35 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_66 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_36 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_67 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_37 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_68 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_38 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_69 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_39 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_70 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_40 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_71 {
  width: 6.81vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.76vw;
}

.text-wrapper_41 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_72 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_42 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_73 {
  width: 6.81vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.76vw;
}

.text-wrapper_43 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_74 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 1.73vw;
}

.text-wrapper_44 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  border: 1px solid rgba(191, 222, 255, 1);
  width: 8.34vw;
}

.text_75 {
  width: 6.32vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 1.04vw;
}

.box_11 {
  width: 55.77vw;
  height: 47.3vw;
}

.text_76 {
  width: 12.09vw;
  height: 1.74vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.74vw;
  margin-left: 16.32vw;
}

.text-wrapper_45 {
  width: 9.31vw;
  height: 1.95vw;
  margin: 0.83vw 0 0 46.45vw;
}

.text_77 {
  width: 4.87vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: center;
  line-height: 1.95vw;
}

.text_78 {
  width: 4.45vw;
  height: 1.95vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.95vw;
}

.group_13 {
  width: 55.77vw;
  height: 2.23vw;
  margin-top: 0.56vw;
}

.text-wrapper_46 {
  height: 2.23vw;
  background: url(./img/SketchPngb233d21cb83d13c890bae0445abbf14511ce555d25fe4c62756ca57e32e4ff74.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 21.87vw 2.36vw;
  width: 21.74vw;
}

.text_79 {
  width: 0.63vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_47 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
}

.text_80 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 4.16vw;
}

.text-wrapper_48 {
  height: 2.23vw;
  background: url(./img/SketchPngb96ef8a9ca832343fb5d2f5a1cd7124ce7dbba979004cb451971b245c39e3a2b.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 21.94vw 2.36vw;
  width: 21.81vw;
}

.text_81 {
  width: 5.49vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.group_14 {
  width: 54.94vw;
  height: 2.23vw;
  margin-left: 0.84vw;
}

.text_82 {
  width: 0.98vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.42vw;
}

.text-wrapper_49 {
  height: 2.23vw;
  background: url(./img/SketchPngb96ef8a9ca832343fb5d2f5a1cd7124ce7dbba979004cb451971b245c39e3a2b.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 21.94vw 2.36vw;
  width: 21.81vw;
}

.text_83 {
  width: 1.6vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_50 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_84 {
  width: 1.19vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_51 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_85 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_52 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_86 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_53 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_87 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_54 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_88 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_55 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_89 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_56 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_90 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_57 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_91 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_58 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_92 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_59 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_93 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_60 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_94 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_61 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_95 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_62 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_96 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_63 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_97 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_64 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_98 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_65 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_99 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_66 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_100 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.group_15 {
  width: 67.99vw;
  height: 2.23vw;
  margin-left: 15vw;
}

.text-wrapper_67 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
}

.text_101 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 4.16vw;
}

.text-wrapper_68 {
  height: 2.23vw;
  background: url(./img/SketchPngb96ef8a9ca832343fb5d2f5a1cd7124ce7dbba979004cb451971b245c39e3a2b.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 21.94vw 2.36vw;
  width: 21.81vw;
}

.text_102 {
  width: 0.98vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_69 {
  height: 2.23vw;
  background: url(./img/SketchPngb96ef8a9ca832343fb5d2f5a1cd7124ce7dbba979004cb451971b245c39e3a2b.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 21.94vw 2.36vw;
  margin-left: 12.16vw;
  width: 21.81vw;
}

.text_103 {
  width: 0.98vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.group_16 {
  width: 23.62vw;
  height: 2.23vw;
  margin-left: 15vw;
}

.text-wrapper_70 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
}

.text_104 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 4.16vw;
}

.thumbnail_10 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.56vw;
}

.group_17 {
  width: 67.99vw;
  height: 2.23vw;
  margin-left: 15vw;
}

.text-wrapper_71 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
}

.text_105 {
  width: 8.75vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 1.73vw;
}

.text-wrapper_72 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_106 {
  width: 0.98vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.group_18 {
  width: 67.99vw;
  height: 2.23vw;
  margin-left: 15vw;
}

.text-wrapper_73 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
}

.text_107 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 4.16vw;
}

.text-wrapper_74 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_108 {
  width: 0.98vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.group_19 {
  width: 67.99vw;
  height: 2.23vw;
  margin-left: 15vw;
}

.text-wrapper_75 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
}

.text_109 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 5.13vw;
}

.text-wrapper_76 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
}

.text_110 {
  width: 0.98vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.group_20 {
  width: 67.99vw;
  height: 2.23vw;
  margin-left: 15vw;
}

.text-wrapper_77 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
}

.text_111 {
  width: 5.84vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.text-wrapper_78 {
  height: 2.23vw;
  background: url(./img/SketchPngb96ef8a9ca832343fb5d2f5a1cd7124ce7dbba979004cb451971b245c39e3a2b.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 21.94vw 2.36vw;
  width: 21.81vw;
}

.text_112 {
  width: 5.28vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_79 {
  height: 2.23vw;
  background: url(./img/SketchPngb96ef8a9ca832343fb5d2f5a1cd7124ce7dbba979004cb451971b245c39e3a2b.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 21.94vw 2.36vw;
  margin-left: 12.16vw;
  width: 21.81vw;
}

.text_113 {
  width: 2.92vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_80 {
  height: 2.23vw;
  background: url(./img/SketchPngb96ef8a9ca832343fb5d2f5a1cd7124ce7dbba979004cb451971b245c39e3a2b.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 21.94vw 2.36vw;
  width: 21.81vw;
  position: absolute;
  left: 42.3vw;
  top: 10.91vw;
}

.text_114 {
  width: 1.19vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_81 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
  position: absolute;
  left: 64.03vw;
  top: 10.91vw;
}

.text_115 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 5.13vw;
}

.text-wrapper_82 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
  position: absolute;
  left: 64.03vw;
  top: 50.91vw;
}

.text_116 {
  width: 5.63vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.33vw;
}

.text-wrapper_83 {
  height: 2.23vw;
  background: url(./img/SketchPngc8730be7cd128a15406a1e4c3c661db044dc659bf73e52cd751859c7799f1ff2.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 55.9vw 2.36vw;
  width: 55.77vw;
  position: absolute;
  left: 42.3vw;
  top: 53.13vw;
}

.text_117 {
  width: 0.98vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_84 {
  height: 2.23vw;
  background: url(./img/SketchPng0d8cf76bacc99e740c0f6ff4225081a34f4a47beaef9ded321fb6264622a036c.png) -0.07vw -0.07vw
    no-repeat;
  background-size: 12.36vw 2.36vw;
  width: 12.23vw;
  position: absolute;
  left: 64.03vw;
  top: 62.02vw;
}

.text_118 {
  width: 5.84vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 3.19vw;
}

.group_21 {
  background-color: rgba(0, 122, 255, 1);
  border-radius: 50%;
  position: absolute;
  left: 15.91vw;
  top: 18.96vw;
  width: 0.84vw;
  height: 0.84vw;
  border: 2px solid rgba(0, 122, 255, 1);
}
