html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(245, 245, 245, 1);
  position: relative;
  width: 38.4rem;
  height: 24rem;
  overflow: hidden;
}

.box_1 {
  position: relative;
  width: 38.4rem;
  height: 24rem;
  background: url(./img/SketchPngbbec49b1f922b51ad65d23d77d594344399a5b944b0523a4c2d28f24de9aee0d.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_2 {
  width: 5.76rem;
  height: 23.707rem;
  margin-top: 0.294rem;
}

.group_1 {
  width: 2.667rem;
  height: 0.667rem;
  margin-left: 0.32rem;
}

.thumbnail_1 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.134rem;
}

.text_1 {
  width: 1.92rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 0.667rem;
}

.group_2 {
  background-color: rgba(255, 255, 255, 1);
  width: 5.76rem;
  height: 22.72rem;
  margin-top: 0.32rem;
}

.text_2 {
  width: 1.547rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.32rem;
}

.text-wrapper_1 {
  background-color: rgba(224, 239, 255, 1);
  height: 0.854rem;
  margin-top: 0.134rem;
  width: 5.76rem;
}

.text_3 {
  width: 1.867rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.32rem;
}

.text_4 {
  width: 1.92rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.32rem;
}

.text_5 {
  width: 1.92rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.267rem 0 19.44rem 0.32rem;
}

.box_3 {
  background-color: rgba(217, 217, 217, 1);
  width: 0.027rem;
  height: 24rem;
}

.box_4 {
  width: 32.294rem;
  height: 23.707rem;
  margin: 0.294rem 0.32rem 0 0;
}

.box_5 {
  width: 31.974rem;
  height: 0.88rem;
  margin-left: 0.32rem;
}

.text_6 {
  width: 2.4rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text-wrapper_2 {
  background-color: rgba(255, 255, 255, 1);
  height: 0.854rem;
  border: 1px solid rgba(217, 217, 217, 1);
  width: 1.6rem;
  margin: 0.027rem 0 0 26.16rem;
}

.text_7 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.427rem;
}

.text-wrapper_3 {
  background-color: rgba(0, 122, 255, 1);
  height: 0.854rem;
  width: 1.6rem;
  margin: 0.027rem 0 0 0.214rem;
}

.text_8 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.427rem;
}

.box_6 {
  background-color: rgba(255, 251, 230, 1);
  border-radius: 2px;
  width: 32rem;
  height: 0.854rem;
  border: 1px solid rgba(255, 229, 143, 1);
  margin: 0.32rem 0 0 0.294rem;
}

.thumbnail_2 {
  width: 0.534rem;
  height: 0.534rem;
  margin: 0.16rem 0 0 0.214rem;
}

.text-wrapper_4 {
  width: 6.4rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.16rem 24.64rem 0 0.214rem;
}

.text_9 {
  width: 6.4rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.text_10 {
  width: 6.4rem;
  height: 0.534rem;
  overflow-wrap: break-word;
  color: rgba(254, 166, 0, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.box_7 {
  width: 2.027rem;
  height: 0.64rem;
  margin: 0.32rem 0 0 0.294rem;
}

.block_1 {
  background-color: rgba(0, 122, 255, 1);
  width: 0.107rem;
  height: 0.427rem;
  margin-top: 0.107rem;
}

.text_11 {
  width: 1.707rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 0.64rem;
}

.box_8 {
  width: 11.04rem;
  height: 0.854rem;
  margin: 0.32rem 0 0 0.294rem;
}

.text_12 {
  width: 6.347rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-top: 0.107rem;
}

.box_9 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  width: 4.694rem;
  height: 0.854rem;
  border: 1px solid rgba(217, 217, 217, 1);
}

.text_13 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.214rem;
}

.thumbnail_3 {
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.214rem 0.214rem 0 0;
}

.box_10 {
  width: 2.027rem;
  height: 0.64rem;
  margin: 0.427rem 0 0 0.294rem;
}

.group_3 {
  background-color: rgba(0, 122, 255, 1);
  width: 0.107rem;
  height: 0.427rem;
  margin-top: 0.107rem;
}

.text_14 {
  width: 1.707rem;
  height: 0.64rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 0.64rem;
}

.box_11 {
  width: 32rem;
  height: 0.854rem;
  margin: 0.32rem 0 0 0.294rem;
}

.image_1 {
  width: 32rem;
  height: 0.027rem;
  margin-top: 0.827rem;
}

.text-wrapper_5 {
  background-color: rgba(245, 245, 245, 1);
  border-radius: 6px 6px 0px 0px;
  height: 0.854rem;
  border: 1px solid rgba(217, 217, 217, 1);
  margin-left: -32rem;
  width: 2.347rem;
}

.text_15 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.427rem;
}

.text-wrapper_6 {
  height: 0.854rem;
  background: url(./img/SketchPng4bc0f0f58f7d2e6e9bffd418bcf9111c9bc602416c915307f3748d0a59df3467.png) -0.027rem -0.027rem
    no-repeat;
  background-size: 2.4rem 0.88rem;
  width: 2.347rem;
  margin: 0 27.254rem 0 0.054rem;
}

.text_16 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.427rem;
}

.box_12 {
  width: 32.294rem;
  height: 17.28rem;
}

.block_2 {
  width: 5.307rem;
  height: 16.96rem;
  margin-top: 0.32rem;
}

.box_13 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  width: 4.694rem;
  height: 0.854rem;
  border: 1px solid rgba(217, 217, 217, 1);
  margin-left: 0.294rem;
}

.text_17 {
  width: 2.987rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(191, 191, 191, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.214rem;
}

.image-wrapper_1 {
  background-color: rgba(255, 255, 255, 1);
  height: 0.427rem;
  width: 0.427rem;
  margin: 0.214rem 0.24rem 0 0.827rem;
}

.thumbnail_4 {
  width: 0.427rem;
  height: 0.427rem;
}

.box_14 {
  width: 5.307rem;
  height: 15.787rem;
  background: url(./img/SketchPng1c08191db025d8db7f02ba190e5d7c7978928aeff5d636b5b2f98f6751e7a72e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.32rem;
}

.group_4 {
  background-color: rgba(224, 239, 255, 1);
  width: 5.307rem;
  height: 0.854rem;
}

.text_18 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.32rem;
}

.thumbnail_5 {
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.214rem 0.32rem 0 0;
}

.group_5 {
  width: 4.667rem;
  height: 0.587rem;
  margin: 0.134rem 0 0 0.32rem;
}

.text_19 {
  width: 2.774rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_6 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.group_6 {
  width: 4.667rem;
  height: 0.587rem;
  margin: 0.267rem 0 0 0.32rem;
}

.text_20 {
  width: 3.147rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_7 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.group_7 {
  width: 4.667rem;
  height: 0.587rem;
  margin: 0.267rem 0 0 0.32rem;
}

.text_21 {
  width: 3.147rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_8 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.group_8 {
  width: 4.667rem;
  height: 0.587rem;
  margin: 0.267rem 0 0 0.32rem;
}

.text_22 {
  width: 3.067rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_9 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.group_9 {
  width: 4.667rem;
  height: 0.587rem;
  margin: 0.267rem 0 0 0.32rem;
}

.text_23 {
  width: 2.907rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_10 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.group_10 {
  width: 4.667rem;
  height: 0.587rem;
  margin: 0.267rem 0 0 0.32rem;
}

.text_24 {
  width: 2.907rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_11 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.group_11 {
  width: 4.667rem;
  height: 0.587rem;
  margin: 0.267rem 0 0 0.32rem;
}

.text_25 {
  width: 2.907rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_12 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.group_12 {
  width: 4.667rem;
  height: 0.587rem;
  margin: 0.267rem 0 8.24rem 0.32rem;
}

.text_26 {
  width: 2.534rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_13 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.08rem;
}

.image_2 {
  width: 0.027rem;
  height: 17.28rem;
}

.block_3 {
  width: 26.667rem;
  height: 2.587rem;
  margin: 0.347rem 0 0 0.294rem;
}

.text-wrapper_7 {
  width: 26.667rem;
  height: 0.854rem;
  background: url(./img/SketchPngfe06edec5a0a5b00723596bf972525c8ce3488b2bc26022423f6bfe6d94407de.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_27 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 0.96rem;
}

.text_28 {
  width: 0.747rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 22.8rem 0 0.667rem;
}

.section_1 {
  width: 26.667rem;
  height: 0.854rem;
  background: url(./img/SketchPngf1850c11974e3fd7ef88d798e0c679c070c025eecb5d905322e67bf27bb5898c.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image_3 {
  width: 26.667rem;
  height: 0.027rem;
}

.text_29 {
  width: 0.4rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.107rem 0 0.134rem 3.307rem;
}

.image_4 {
  width: 26.667rem;
  height: 0.027rem;
}

.section_2 {
  width: 26.667rem;
  height: 0.854rem;
  background: url(./img/SketchPng2834f9ecb559313bcc24d9bc7983b0370398ca171388929003ac651f8806eba5.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_30 {
  width: 0.454rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.134rem 0 0 3.28rem;
}

.image_5 {
  width: 26.667rem;
  height: 0.027rem;
  margin-top: 0.107rem;
}

.box_15 {
  position: absolute;
  left: 11.414rem;
  top: 7.04rem;
  width: 26.667rem;
  height: 16.64rem;
  background: url(./img/SketchPnga9f5b0b889932d128516b1db02194a3c60c7fbefb1d7502c2d2bd68be45c940b.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.image-wrapper_2 {
  width: 0.427rem;
  height: 2.16rem;
  margin: 0.24rem 0 0 0.32rem;
}

.thumbnail_14 {
  width: 0.427rem;
  height: 0.427rem;
}

.thumbnail_15 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.427rem;
}

.thumbnail_16 {
  width: 0.427rem;
  height: 0.427rem;
  margin-top: 0.454rem;
}

.box_16 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.027rem;
  height: 2.587rem;
  margin: 0.027rem 0 0 2.027rem;
}

.box_17 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.027rem;
  height: 2.587rem;
  margin: 0.027rem 0 0 1.387rem;
}

.text-group_1 {
  width: 4.854rem;
  height: 2.32rem;
  margin: 0.16rem 17.28rem 0 0.32rem;
}

.text_31 {
  width: 1.494rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_32 {
  width: 4.854rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-top: 0.267rem;
}

.text_33 {
  width: 3.36rem;
  height: 0.587rem;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-top: 0.294rem;
}
