html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(243, 245, 247, 1);
  position: relative;
  width: 10rem;
  height: 25.654rem;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0.427rem;
}

.section_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.374rem 0.427rem 0.187rem 0.427rem;
}

.block_1 {
  margin: 0 0.267rem 0 0.64rem;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.426rem;
  letter-spacing: 1.100000023841858px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_1 {
  width: 0.507rem;
  height: 0.32rem;
  margin: 0.134rem 0 0.134rem 5.094rem;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  letter-spacing: 0.925000011920929px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.08rem 0 0 0.16rem;
}

.image_1 {
  width: 0.667rem;
  height: 0.347rem;
  margin: 0.134rem 0 0.107rem 0.16rem;
}

.block_2 {
  margin-top: 0.4rem;
}

.label_1 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.08rem 0 0.08rem 0;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.107rem 0 0 3.094rem;
}

.image_2 {
  width: 2.08rem;
  height: 0.8rem;
  margin-left: 1.627rem;
}

.section_2 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 0.267rem;
  padding: 0.427rem 0.427rem 0.427rem 0.427rem;
}

.text-wrapper_1 {
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-left: 0.214rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-left: 0.214rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-left: 2.88rem;
}

.image_3 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.32rem;
}

.list_1 {
  width: 5.974rem;
  height: 1.387rem;
  justify-content: space-between;
  margin: 0.294rem 3.174rem 0 0;
}

.text-wrapper_2-0 {
  margin-right: 0.427rem;
}

.text_8-0 {
  width: 3.84rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_9-0 {
  width: 3.84rem;
  overflow-wrap: break-word;
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-top: 0.214rem;
  color: rgba(51, 51, 51, 1);
}

.text-wrapper_2-1 {
  margin-right: 0.427rem;
}

.text_8-1 {
  width: 3.84rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_9-1 {
  width: 3.84rem;
  overflow-wrap: break-word;
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-top: 0.214rem;
  color: rgba(9, 106, 255, 1);
}

.text-wrapper_3 {
  width: 3.414rem;
  margin: 0.214rem 5.734rem 0 0;
}

.text_10 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_11 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text-wrapper_4 {
  width: 3.84rem;
  margin: 0.214rem 5.307rem 0 0;
}

.text_12 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_13 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text-wrapper_5 {
  width: 6.347rem;
  margin: 0.214rem 2.8rem 0 0;
}

.text_14 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_15 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.section_3 {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 0.427rem;
  padding: 0.427rem 0.427rem 0.347rem 0.427rem;
}

.text_16 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin-right: 7.44rem;
}

.image_4 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.32rem;
}

.section_4 {
  width: 7.387rem;
  margin: 0.294rem 1.76rem 0 0;
}

.text_17 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.374rem;
}

.text-group_1 {
}

.text-wrapper_6 {
  width: 1.68rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0 1.147rem 0 0.054rem;
}

.text_18 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_19 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_20 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.08rem;
}

.image_5 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.32rem;
}

.section_5 {
  width: 7.84rem;
  margin: 0.32rem 1.307rem 0 0;
}

.text_21 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.374rem;
}

.group_1 {
}

.block_3 {
  width: 2.667rem;
  margin: 0 0.587rem 0 0.08rem;
}

.text-wrapper_7 {
  width: 2.347rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_22 {
  overflow-wrap: break-word;
  color: rgba(243, 41, 41, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_23 {
  overflow-wrap: break-word;
  color: rgba(243, 41, 41, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.thumbnail_2 {
  width: 0.214rem;
  height: 0.267rem;
  margin: 0.214rem 0 0.187rem 0;
}

.text_24 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.08rem;
}

.image_6 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.347rem;
}

.section_6 {
  width: 7.52rem;
  margin: 0.32rem 1.627rem 0 0;
}

.text_25 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.374rem;
}

.text-group_2 {
}

.text-wrapper_8 {
  width: 2.347rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0 0.614rem 0 0.054rem;
}

.text_26 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_27 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_28 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.08rem;
}

.image_7 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.32rem;
}

.section_7 {
  width: 8.267rem;
  margin: 0.347rem 0.88rem 0 0;
}

.text_29 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.374rem;
}

.text-group_3 {
}

.text-wrapper_9 {
  width: 2.827rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0 0.88rem 0 0.054rem;
}

.text_30 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_31 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_32 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.08rem;
}

.image_8 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.294rem;
}

.section_8 {
  width: 7.627rem;
  margin: 0.347rem 1.52rem 0 0;
}

.text_33 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.374rem;
}

.text-group_4 {
}

.text-wrapper_10 {
  width: 2.534rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0 0.534rem 0 0.054rem;
}

.text_34 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_35 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_36 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.08rem;
}

.image_9 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.32rem;
}

.section_9 {
  width: 7.067rem;
  margin: 0.32rem 2.08rem 0 0;
}

.text_37 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.374rem;
}

.text-group_5 {
}

.text-wrapper_11 {
  width: 2.507rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin-left: 0.054rem;
}

.text_38 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_39 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_40 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.08rem 0.054rem 0 0;
}

.image_10 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.347rem;
}

.section_10 {
  width: 7.2rem;
  margin: 0.32rem 1.947rem 0 0;
}

.text_41 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.374rem;
}

.text-group_6 {
}

.text-wrapper_12 {
  width: 2.24rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0 0.4rem 0 0.054rem;
}

.text_42 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_43 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_44 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.08rem;
}

.image_11 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.32rem;
}

.section_11 {
  width: 7.334rem;
  margin: 0.347rem 1.814rem 0 0;
}

.text_45 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.374rem;
}

.text-group_7 {
}

.text-wrapper_13 {
  width: 2.16rem;
  height: 0.667rem;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
  margin: 0 0.614rem 0 0.054rem;
}

.text_46 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_47 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text_48 {
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 0.32rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.08rem;
}
