.page {
  background-color: rgba(243, 245, 247, 1);
  position: relative;
  width: 375px;
  margin: 0 auto; min-height: 100vh;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 14px 16px 7px 16px;
}

.box_1 {
  margin: 0 10px 0 24px;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  letter-spacing: 1.100000023841858px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
}

.thumbnail_1 {
  width: 19px;
  height: 12px;
  margin: 5px 0 5px 191px;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  letter-spacing: 0.925000011920929px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 17px;
  margin: 3px 0 0 6px;
}

.image_1 {
  width: 25px;
  height: 13px;
  margin: 5px 0 4px 6px;
}

.box_2 {
  margin-top: 15px;
}

.label_1 {
  width: 24px;
  height: 24px;
  margin: 3px 0 3px 0;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 4px 0 0 116px;
}

.image_2 {
  width: 78px;
  height: 30px;
  margin-left: 61px;
}

.group_2 {
  padding-bottom: 126px;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  padding: 11px 16px 11px 16px;
}

.section_1 {
  width: 343px;
}

.image-text_1 {
  width: 88px;
}

.thumbnail_2 {
  width: 16px;
  height: 16px;
  margin: 3px 0 3px 0;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image_3 {
  width: 343px;
  height: 1px;
  margin-top: 11px;
}

.section_2 {
  width: 343px;
  margin-top: 10px;
}

.image-text_2 {
  width: 88px;
}

.thumbnail_3 {
  width: 16px;
  height: 16px;
  margin: 3px 0 3px 0;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.list_1 {
  width: 343px;
  height: 350px;
  align-self: center;
  margin-top: 16px;
}

.list-items_1-0 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px 16px 16px 16px;
}

.text-wrapper_1-0 {
  width: 311px;
}

.text_6-0 {
  width: 80px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_7-0 {
  overflow-wrap: break-word;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 1px;
  color: rgba(254, 168, 0, 1);
}

.text-wrapper_2-0 {
  margin: 4px 193px 0 0;
}

.text_8-0 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.group_3-0 {
  margin: 8px 67px 0 0;
}

.thumbnail_4-0 {
  width: 14px;
  height: 14px;
  margin: 3px 0 3px 0;
}

.image-text_3-0 {
  width: 144px;
  margin-left: 4px;
}

.text-group_3-0 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.thumbnail_5-0 {
  width: 10px;
  height: 6px;
  margin: 7px 0 7px 0;
}

.image-text_4-0 {
  width: 74px;
  margin-left: 8px;
}

.thumbnail_6-0 {
  width: 14px;
  height: 14px;
  margin: 3px 0 3px 0;
}

.text-group_4-0 {
  width: 56px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.list-items_1-1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px 16px 16px 16px;
}

.text-wrapper_1-1 {
  width: 311px;
}

.text_6-1 {
  width: 80px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_7-1 {
  overflow-wrap: break-word;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 1px;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_2-1 {
  margin: 4px 193px 0 0;
}

.text_8-1 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.group_3-1 {
  margin: 8px 67px 0 0;
}

.thumbnail_4-1 {
  width: 14px;
  height: 14px;
  margin: 3px 0 3px 0;
}

.image-text_3-1 {
  width: 144px;
  margin-left: 4px;
}

.text-group_3-1 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.thumbnail_5-1 {
  width: 10px;
  height: 6px;
  margin: 7px 0 7px 0;
}

.image-text_4-1 {
  width: 74px;
  margin-left: 8px;
}

.thumbnail_6-1 {
  width: 14px;
  height: 14px;
  margin: 3px 0 3px 0;
}

.text-group_4-1 {
  width: 56px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.list-items_1-2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px 16px 16px 16px;
}

.text-wrapper_1-2 {
  width: 311px;
}

.text_6-2 {
  width: 80px;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_7-2 {
  overflow-wrap: break-word;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 1px;
  color: rgba(21, 207, 110, 1);
}

.text-wrapper_2-2 {
  margin: 4px 193px 0 0;
}

.text_8-2 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.group_3-2 {
  margin: 8px 67px 0 0;
}

.thumbnail_4-2 {
  width: 14px;
  height: 14px;
  margin: 3px 0 3px 0;
}

.image-text_3-2 {
  width: 144px;
  margin-left: 4px;
}

.text-group_3-2 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.thumbnail_5-2 {
  width: 10px;
  height: 6px;
  margin: 7px 0 7px 0;
}

.image-text_4-2 {
  width: 74px;
  margin-left: 8px;
}

.thumbnail_6-2 {
  width: 14px;
  height: 14px;
  margin: 3px 0 3px 0;
}

.text-group_4-2 {
  width: 56px;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}
