.page {
  background-color: rgba(245, 245, 245, 1);
  position: relative;
  width: 100vw;
  height: 62.5vw;
  overflow: hidden;
}

.group_1 {
  position: relative;
  width: 100vw;
  height: 62.5vw;
  background: url(./img/SketchPngbbec49b1f922b51ad65d23d77d594344399a5b944b0523a4c2d28f24de9aee0d.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_1 {
  width: 15vw;
  height: 61.74vw;
  margin-top: 0.77vw;
}

.box_2 {
  width: 6.95vw;
  height: 1.74vw;
  margin-left: 0.84vw;
}

.thumbnail_1 {
  width: 1.12vw;
  height: 1.12vw;
  margin-top: 0.35vw;
}

.text_1 {
  width: 5vw;
  height: 1.74vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 1.74vw;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  width: 15vw;
  height: 59.17vw;
  margin-top: 0.84vw;
}

.text_2 {
  width: 4.03vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text-wrapper_1 {
  background-color: rgba(224, 239, 255, 1);
  height: 2.23vw;
  margin-top: 0.35vw;
  width: 15vw;
}

.text_3 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text_4 {
  width: 5vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text_5 {
  width: 5vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.69vw 0 50.62vw 0.83vw;
}

.box_4 {
  background-color: rgba(217, 217, 217, 1);
  width: 0.07vw;
  height: 62.5vw;
}

.box_5 {
  width: 83.34vw;
  height: 35.14vw;
  margin: 0.76vw 0.83vw 0 0.76vw;
}

.group_2 {
  width: 83.27vw;
  height: 2.3vw;
  margin-left: 0.07vw;
}

.text_6 {
  width: 6.25vw;
  height: 1.74vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 1.25vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 1.74vw;
}

.text-wrapper_2 {
  height: 2.23vw;
  border: 1px solid rgba(0, 122, 255, 1);
  margin-top: 0.07vw;
  width: 4.17vw;
}

.text_7 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 1.11vw;
}

.group_3 {
  background-color: rgba(255, 251, 230, 1);
  border-radius: 2px;
  width: 83.34vw;
  height: 2.23vw;
  border: 1px solid rgba(255, 229, 143, 1);
  margin-top: 0.84vw;
}

.thumbnail_2 {
  width: 1.39vw;
  height: 1.39vw;
  margin: 0.41vw 0 0 0.55vw;
}

.text-wrapper_3 {
  width: 16.67vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
  margin: 0.41vw 64.16vw 0 0.55vw;
}

.text_8 {
  width: 16.67vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
}

.text_9 {
  width: 16.67vw;
  height: 1.39vw;
  overflow-wrap: break-word;
  color: rgba(254, 166, 0, 1);
  font-size: 0.83vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.39vw;
}

.group_4 {
  width: 5.28vw;
  height: 1.67vw;
  margin-top: 0.84vw;
}

.group_5 {
  background-color: rgba(0, 122, 255, 1);
  width: 0.28vw;
  height: 1.12vw;
  margin-top: 0.28vw;
}

.text_10 {
  width: 4.45vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 1.67vw;
}

.text-wrapper_4 {
  width: 18.48vw;
  height: 1.53vw;
  margin-top: 0.56vw;
}

.text_11 {
  width: 16.53vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_12 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.group_6 {
  width: 5.28vw;
  height: 1.67vw;
  margin-top: 1.12vw;
}

.box_6 {
  background-color: rgba(0, 122, 255, 1);
  width: 0.28vw;
  height: 1.12vw;
  margin-top: 0.28vw;
}

.text_13 {
  width: 4.45vw;
  height: 1.67vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 1.11vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 1.67vw;
}

.text-wrapper_5 {
  width: 14.24vw;
  height: 1.53vw;
  margin-top: 0.56vw;
}

.text_14 {
  width: 4.87vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_15 {
  width: 9.38vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.image_1 {
  width: 83.34vw;
  height: 2.23vw;
  margin-top: 0.63vw;
}

.image-wrapper_1 {
  height: 2.23vw;
  background: url(./img/SketchPngbbd80506cd44a76ddeb344fba021657d6e86b94d17b09450f374147a1523e8c7.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 83.34vw;
}

.image_2 {
  width: 83.34vw;
  height: 0.07vw;
}

.image_3 {
  width: 83.34vw;
  height: 0.07vw;
}

.image-wrapper_2 {
  height: 2.23vw;
  background: url(./img/SketchPngab8e42052a5f489129c98b40e4cfe4d5e8ebc6aa6d1ba971e6da80f7de6b8059.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 83.34vw;
}

.image_4 {
  width: 83.34vw;
  height: 0.07vw;
  margin-top: 2.16vw;
}

.image-wrapper_3 {
  height: 2.23vw;
  background: url(./img/SketchPngbbd80506cd44a76ddeb344fba021657d6e86b94d17b09450f374147a1523e8c7.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 8.48vw;
  width: 83.34vw;
}

.image_5 {
  width: 83.34vw;
  height: 0.07vw;
}

.image_6 {
  width: 83.34vw;
  height: 0.07vw;
}

.image-wrapper_4 {
  height: 2.23vw;
  background: url(./img/SketchPngab8e42052a5f489129c98b40e4cfe4d5e8ebc6aa6d1ba971e6da80f7de6b8059.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 83.34vw;
}

.image_7 {
  width: 83.34vw;
  height: 0.07vw;
  margin-top: 2.16vw;
}

.box_7 {
  position: absolute;
  left: 15.84vw;
  top: 16.12vw;
  width: 83.34vw;
  height: 45.56vw;
  background: url(./img/SketchPng9ee23f1ec8d428726bc40ac91b51660d994dac838f4e3f55a609f7ad006fc156.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_8 {
  width: 64.52vw;
  height: 6.74vw;
  margin: 0.06vw 0 0 2.77vw;
}

.block_1 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.07vw;
  height: 6.74vw;
}

.block_2 {
  width: 1.95vw;
  height: 6.05vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text_16 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text-group_1 {
  width: 1.19vw;
  height: 3.82vw;
  margin: 0.69vw 0 0 0.41vw;
}

.text_17 {
  width: 1.19vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_18 {
  width: 1.19vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.block_3 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.07vw;
  height: 6.74vw;
  margin-left: 0.84vw;
}

.block_4 {
  width: 13.62vw;
  height: 6.05vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text_19 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text-group_2 {
  width: 13.62vw;
  height: 3.82vw;
  margin-top: 0.7vw;
}

.text_20 {
  width: 7.78vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_21 {
  width: 13.62vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.block_5 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.07vw;
  height: 6.74vw;
  margin-left: 16.46vw;
}

.block_6 {
  width: 6.32vw;
  height: 6.05vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text_22 {
  width: 6.32vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text-group_3 {
  width: 5.7vw;
  height: 3.82vw;
  margin-top: 0.7vw;
}

.text_23 {
  width: 5.7vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_24 {
  width: 5.7vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.block_7 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.07vw;
  height: 6.74vw;
  margin-left: 15.42vw;
}

.block_8 {
  width: 6.32vw;
  height: 6.05vw;
  margin: 0.34vw 0 0 0.83vw;
}

.text_25 {
  width: 6.32vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text-group_4 {
  width: 1.95vw;
  height: 3.82vw;
  margin-top: 0.7vw;
}

.text_26 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_27 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.text-wrapper_6 {
  height: 2.23vw;
  background: url(./img/SketchPnge36d04f53e12aa83f7629bf6713ac224dac46a5f1962a9441b04258363795108.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 81.67vw;
  margin: 0.9vw 0 0 0.83vw;
}

.text_28 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 0.83vw;
}

.box_9 {
  width: 81.67vw;
  height: 2.23vw;
  background: url(./img/SketchPng74a7347d90b73564c4cd69b0d9da1ba74511b617062df159da2f861b53680151.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 0.84vw;
}

.image_8 {
  width: 81.67vw;
  height: 0.07vw;
}

.text_29 {
  width: 1.05vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.27vw 0 0.34vw 1.31vw;
}

.image_9 {
  width: 81.67vw;
  height: 0.07vw;
  margin-left: 0.84vw;
}

.box_10 {
  width: 81.67vw;
  height: 2.23vw;
  background: url(./img/SketchPng119b638b28e148b4ab3ff5fb78bc58ad32d28fbc5d55159996865fac8caa0bf4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 0.84vw;
}

.text_30 {
  width: 1.19vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin: 0.34vw 0 0 1.25vw;
}

.image_10 {
  width: 81.67vw;
  height: 0.07vw;
  margin-top: 0.28vw;
}

.box_11 {
  width: 58.82vw;
  height: 4.45vw;
  margin: 0.9vw 0 25.76vw 4.09vw;
}

.text-group_5 {
  width: 1.19vw;
  height: 3.82vw;
  margin-top: 0.28vw;
}

.text_31 {
  width: 1.19vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_32 {
  width: 1.19vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.block_9 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.07vw;
  height: 4.45vw;
  margin-left: 1.19vw;
}

.text-group_6 {
  width: 13.62vw;
  height: 3.82vw;
  margin: 0.27vw 0 0 0.83vw;
}

.text_33 {
  width: 7.78vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_34 {
  width: 13.62vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.block_10 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.07vw;
  height: 4.45vw;
  margin-left: 16.46vw;
}

.text-group_7 {
  width: 5.7vw;
  height: 3.82vw;
  margin: 0.27vw 0 0 0.83vw;
}

.text_35 {
  width: 5.7vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_36 {
  width: 5.7vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.block_11 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.07vw;
  height: 4.45vw;
  margin-left: 16.05vw;
}

.text-group_8 {
  width: 1.95vw;
  height: 3.82vw;
  margin: 0.27vw 0 0 0.83vw;
}

.text_37 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_38 {
  width: 1.95vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.box_12 {
  position: absolute;
  left: 0.84vw;
  top: 7.64vw;
  width: 81.67vw;
  height: 6.81vw;
  background: url(./img/SketchPng4102a131766629ca6eeb6461b4c6c0ce9e4e899b90188d9559aa5b9f79b7e713.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.block_12 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.07vw;
  height: 6.74vw;
  margin: 0.06vw 0 0 3.61vw;
}

.text-group_9 {
  width: 3.89vw;
  height: 6.05vw;
  margin: 0.41vw 0 0 0.83vw;
}

.text_39 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_40 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.7vw;
}

.text_41 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.block_13 {
  background-color: rgba(191, 222, 255, 1);
  width: 0.07vw;
  height: 6.74vw;
  margin: 0.06vw 0 0 21.45vw;
}

.text-group_10 {
  width: 12.64vw;
  height: 6.05vw;
  margin: 0.41vw 38.26vw 0 0.83vw;
}

.text_42 {
  width: 3.89vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
}

.text_43 {
  width: 12.64vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.7vw;
}

.text_44 {
  width: 8.75vw;
  height: 1.53vw;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 0.97vw;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.53vw;
  margin-top: 0.77vw;
}

.image-wrapper_5 {
  height: 14.1vw;
  background: url(./img/SketchPng69e8b4042e698ee05e037ab2a5f3340a9d81b777be53f90003fea4af7db08291.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1.12vw;
  position: absolute;
  left: 0;
  top: -4.79vw;
}

.image_11 {
  width: 1.12vw;
  height: 14.1vw;
}
