.page {
  background-color: rgba(245, 245, 245, 1);
  position: relative;
  width: 1440px;
  height: 900px;
  overflow: hidden;
}

.group_1 {
  position: relative;
  width: 1440px;
  height: 900px;
  background: url(./img/SketchPngbbec49b1f922b51ad65d23d77d594344399a5b944b0523a4c2d28f24de9aee0d.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_1 {
  width: 216px;
  height: 889px;
  margin-top: 11px;
}

.box_2 {
  width: 100px;
  height: 25px;
  margin-left: 12px;
}

.thumbnail_1 {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.text_1 {
  width: 72px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 25px;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  width: 216px;
  height: 852px;
  margin-top: 12px;
}

.text_2 {
  width: 58px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 12px;
}

.text-wrapper_1 {
  background-color: rgba(224, 239, 255, 1);
  height: 32px;
  margin-top: 5px;
  width: 216px;
}

.text_3 {
  width: 70px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 12px;
}

.text_4 {
  width: 72px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 12px;
}

.text_5 {
  width: 72px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  letter-spacing: 0.30000001192092896px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 10px 0 729px 12px;
}

.box_4 {
  background-color: rgba(217, 217, 217, 1);
  width: 1px;
  height: 900px;
}

.box_5 {
  width: 1200px;
  height: 506px;
  margin: 11px 12px 0 11px;
}

.group_2 {
  width: 1199px;
  height: 33px;
  margin-left: 1px;
}

.text_6 {
  width: 90px;
  height: 25px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 18px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 25px;
}

.text-wrapper_2 {
  height: 32px;
  border: 1px solid rgba(0, 122, 255, 1);
  margin-top: 1px;
  width: 60px;
}

.text_7 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(0, 122, 255, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 16px;
}

.group_3 {
  background-color: rgba(255, 251, 230, 1);
  border-radius: 2px;
  width: 1200px;
  height: 32px;
  border: 1px solid rgba(255, 229, 143, 1);
  margin-top: 12px;
}

.thumbnail_2 {
  width: 20px;
  height: 20px;
  margin: 6px 0 0 8px;
}

.text-wrapper_3 {
  width: 240px;
  height: 20px;
  overflow-wrap: break-word;
  font-size: 0;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
  margin: 6px 924px 0 8px;
}

.text_8 {
  width: 240px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.text_9 {
  width: 240px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(254, 166, 0, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 20px;
}

.group_4 {
  width: 76px;
  height: 24px;
  margin-top: 12px;
}

.group_5 {
  background-color: rgba(0, 122, 255, 1);
  width: 4px;
  height: 16px;
  margin-top: 4px;
}

.text_10 {
  width: 64px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 24px;
}

.text-wrapper_4 {
  width: 266px;
  height: 22px;
  margin-top: 8px;
}

.text_11 {
  width: 238px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_12 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.group_6 {
  width: 76px;
  height: 24px;
  margin-top: 16px;
}

.box_6 {
  background-color: rgba(0, 122, 255, 1);
  width: 4px;
  height: 16px;
  margin-top: 4px;
}

.text_13 {
  width: 64px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: justify;
  white-space: nowrap;
  line-height: 24px;
}

.text-wrapper_5 {
  width: 205px;
  height: 22px;
  margin-top: 8px;
}

.text_14 {
  width: 70px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_15 {
  width: 135px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.image_1 {
  width: 1200px;
  height: 32px;
  margin-top: 9px;
}

.image-wrapper_1 {
  height: 32px;
  background: url(./img/SketchPngbbd80506cd44a76ddeb344fba021657d6e86b94d17b09450f374147a1523e8c7.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1200px;
}

.image_2 {
  width: 1200px;
  height: 1px;
}

.image_3 {
  width: 1200px;
  height: 1px;
}

.image-wrapper_2 {
  height: 32px;
  background: url(./img/SketchPngab8e42052a5f489129c98b40e4cfe4d5e8ebc6aa6d1ba971e6da80f7de6b8059.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1200px;
}

.image_4 {
  width: 1200px;
  height: 1px;
  margin-top: 31px;
}

.image-wrapper_3 {
  height: 32px;
  background: url(./img/SketchPngbbd80506cd44a76ddeb344fba021657d6e86b94d17b09450f374147a1523e8c7.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 122px;
  width: 1200px;
}

.image_5 {
  width: 1200px;
  height: 1px;
}

.image_6 {
  width: 1200px;
  height: 1px;
}

.image-wrapper_4 {
  height: 32px;
  background: url(./img/SketchPngab8e42052a5f489129c98b40e4cfe4d5e8ebc6aa6d1ba971e6da80f7de6b8059.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1200px;
}

.image_7 {
  width: 1200px;
  height: 1px;
  margin-top: 31px;
}

.box_7 {
  position: absolute;
  left: 228px;
  top: 232px;
  width: 1200px;
  height: 656px;
  background: url(./img/SketchPng9ee23f1ec8d428726bc40ac91b51660d994dac838f4e3f55a609f7ad006fc156.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.box_8 {
  width: 929px;
  height: 97px;
  margin: 1px 0 0 40px;
}

.block_1 {
  background-color: rgba(191, 222, 255, 1);
  width: 1px;
  height: 97px;
}

.block_2 {
  width: 28px;
  height: 87px;
  margin: 5px 0 0 12px;
}

.text_16 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text-group_1 {
  width: 17px;
  height: 55px;
  margin: 10px 0 0 6px;
}

.text_17 {
  width: 17px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_18 {
  width: 17px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.block_3 {
  background-color: rgba(191, 222, 255, 1);
  width: 1px;
  height: 97px;
  margin-left: 12px;
}

.block_4 {
  width: 196px;
  height: 87px;
  margin: 5px 0 0 12px;
}

.text_19 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text-group_2 {
  width: 196px;
  height: 55px;
  margin-top: 10px;
}

.text_20 {
  width: 112px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_21 {
  width: 196px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.block_5 {
  background-color: rgba(191, 222, 255, 1);
  width: 1px;
  height: 97px;
  margin-left: 237px;
}

.block_6 {
  width: 91px;
  height: 87px;
  margin: 5px 0 0 12px;
}

.text_22 {
  width: 91px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text-group_3 {
  width: 82px;
  height: 55px;
  margin-top: 10px;
}

.text_23 {
  width: 82px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_24 {
  width: 82px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.block_7 {
  background-color: rgba(191, 222, 255, 1);
  width: 1px;
  height: 97px;
  margin-left: 222px;
}

.block_8 {
  width: 91px;
  height: 87px;
  margin: 5px 0 0 12px;
}

.text_25 {
  width: 91px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text-group_4 {
  width: 28px;
  height: 55px;
  margin-top: 10px;
}

.text_26 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_27 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.text-wrapper_6 {
  height: 32px;
  background: url(./img/SketchPnge36d04f53e12aa83f7629bf6713ac224dac46a5f1962a9441b04258363795108.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1176px;
  margin: 13px 0 0 12px;
}

.text_28 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 12px;
}

.box_9 {
  width: 1176px;
  height: 32px;
  background: url(./img/SketchPng74a7347d90b73564c4cd69b0d9da1ba74511b617062df159da2f861b53680151.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 12px;
}

.image_8 {
  width: 1176px;
  height: 1px;
}

.text_29 {
  width: 15px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 4px 0 5px 19px;
}

.image_9 {
  width: 1176px;
  height: 1px;
  margin-left: 12px;
}

.box_10 {
  width: 1176px;
  height: 32px;
  background: url(./img/SketchPng119b638b28e148b4ab3ff5fb78bc58ad32d28fbc5d55159996865fac8caa0bf4.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 12px;
}

.text_30 {
  width: 17px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin: 5px 0 0 18px;
}

.image_10 {
  width: 1176px;
  height: 1px;
  margin-top: 4px;
}

.box_11 {
  width: 847px;
  height: 64px;
  margin: 13px 0 371px 59px;
}

.text-group_5 {
  width: 17px;
  height: 55px;
  margin-top: 4px;
}

.text_31 {
  width: 17px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_32 {
  width: 17px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.block_9 {
  background-color: rgba(191, 222, 255, 1);
  width: 1px;
  height: 64px;
  margin-left: 17px;
}

.text-group_6 {
  width: 196px;
  height: 55px;
  margin: 4px 0 0 12px;
}

.text_33 {
  width: 112px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_34 {
  width: 196px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.block_10 {
  background-color: rgba(191, 222, 255, 1);
  width: 1px;
  height: 64px;
  margin-left: 237px;
}

.text-group_7 {
  width: 82px;
  height: 55px;
  margin: 4px 0 0 12px;
}

.text_35 {
  width: 82px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_36 {
  width: 82px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.block_11 {
  background-color: rgba(191, 222, 255, 1);
  width: 1px;
  height: 64px;
  margin-left: 231px;
}

.text-group_8 {
  width: 28px;
  height: 55px;
  margin: 4px 0 0 12px;
}

.text_37 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_38 {
  width: 28px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.box_12 {
  position: absolute;
  left: 12px;
  top: 110px;
  width: 1176px;
  height: 98px;
  background: url(./img/SketchPng4102a131766629ca6eeb6461b4c6c0ce9e4e899b90188d9559aa5b9f79b7e713.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.block_12 {
  background-color: rgba(191, 222, 255, 1);
  width: 1px;
  height: 97px;
  margin: 1px 0 0 52px;
}

.text-group_9 {
  width: 56px;
  height: 87px;
  margin: 6px 0 0 12px;
}

.text_39 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_40 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 10px;
}

.text_41 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.block_13 {
  background-color: rgba(191, 222, 255, 1);
  width: 1px;
  height: 97px;
  margin: 1px 0 0 309px;
}

.text-group_10 {
  width: 182px;
  height: 87px;
  margin: 6px 551px 0 12px;
}

.text_42 {
  width: 56px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(38, 38, 38, 1);
  font-size: 14px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
}

.text_43 {
  width: 182px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 10px;
}

.text_44 {
  width: 126px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(89, 89, 89, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 22px;
  margin-top: 11px;
}

.image-wrapper_5 {
  height: 203px;
  background: url(./img/SketchPng69e8b4042e698ee05e037ab2a5f3340a9d81b777be53f90003fea4af7db08291.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 16px;
  position: absolute;
  left: 0;
  top: -69px;
}

.image_11 {
  width: 16px;
  height: 203px;
}
