html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(243, 245, 247, 1);
  position: relative;
  width: 10rem;
  height: 17.787rem;
  overflow: hidden;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.374rem 0.427rem 0.187rem 0.427rem;
}

.box_1 {
  margin: 0 0.267rem 0 0.64rem;
}

.text_1 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.426rem;
  letter-spacing: 1.100000023841858px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
}

.thumbnail_1 {
  width: 0.507rem;
  height: 0.32rem;
  margin: 0.134rem 0 0.134rem 5.094rem;
}

.text_2 {
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  letter-spacing: 0.925000011920929px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.454rem;
  margin: 0.08rem 0 0 0.16rem;
}

.image_1 {
  width: 0.667rem;
  height: 0.347rem;
  margin: 0.134rem 0 0.107rem 0.16rem;
}

.box_2 {
  margin-top: 0.4rem;
}

.label_1 {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.08rem 0 0.08rem 0;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.107rem 0 0 3.094rem;
}

.image_2 {
  width: 2.08rem;
  height: 0.8rem;
  margin-left: 1.627rem;
}

.group_2 {
  padding-bottom: 3.36rem;
}

.box_3 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.294rem 0.427rem 0.294rem 0.427rem;
}

.section_1 {
  width: 9.147rem;
}

.image-text_1 {
  width: 2.347rem;
}

.thumbnail_2 {
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.08rem 0 0.08rem 0;
}

.text-group_1 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.image_3 {
  width: 9.147rem;
  height: 0.027rem;
  margin-top: 0.294rem;
}

.section_2 {
  width: 9.147rem;
  margin-top: 0.267rem;
}

.image-text_2 {
  width: 2.347rem;
}

.thumbnail_3 {
  width: 0.427rem;
  height: 0.427rem;
  margin: 0.08rem 0 0.08rem 0;
}

.text-group_2 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.list_1 {
  width: 9.147rem;
  height: 9.334rem;
  align-self: center;
  margin-top: 0.427rem;
}

.list-items_1-0 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin-bottom: 0.427rem;
  padding: 0.427rem 0.427rem 0.427rem 0.427rem;
}

.text-wrapper_1-0 {
  width: 8.294rem;
}

.text_6-0 {
  width: 2.134rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_7-0 {
  overflow-wrap: break-word;
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.027rem;
  color: rgba(254, 168, 0, 1);
}

.text-wrapper_2-0 {
  margin: 0.107rem 5.147rem 0 0;
}

.text_8-0 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.group_3-0 {
  margin: 0.214rem 1.787rem 0 0;
}

.thumbnail_4-0 {
  width: 0.374rem;
  height: 0.374rem;
  margin: 0.08rem 0 0.08rem 0;
}

.image-text_3-0 {
  width: 3.84rem;
  margin-left: 0.107rem;
}

.text-group_3-0 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.thumbnail_5-0 {
  width: 0.267rem;
  height: 0.16rem;
  margin: 0.187rem 0 0.187rem 0;
}

.image-text_4-0 {
  width: 1.974rem;
  margin-left: 0.214rem;
}

.thumbnail_6-0 {
  width: 0.374rem;
  height: 0.374rem;
  margin: 0.08rem 0 0.08rem 0;
}

.text-group_4-0 {
  width: 1.494rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.list-items_1-1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin-bottom: 0.427rem;
  padding: 0.427rem 0.427rem 0.427rem 0.427rem;
}

.text-wrapper_1-1 {
  width: 8.294rem;
}

.text_6-1 {
  width: 2.134rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_7-1 {
  overflow-wrap: break-word;
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.027rem;
  color: rgba(102, 102, 102, 1);
}

.text-wrapper_2-1 {
  margin: 0.107rem 5.147rem 0 0;
}

.text_8-1 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.group_3-1 {
  margin: 0.214rem 1.787rem 0 0;
}

.thumbnail_4-1 {
  width: 0.374rem;
  height: 0.374rem;
  margin: 0.08rem 0 0.08rem 0;
}

.image-text_3-1 {
  width: 3.84rem;
  margin-left: 0.107rem;
}

.text-group_3-1 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.thumbnail_5-1 {
  width: 0.267rem;
  height: 0.16rem;
  margin: 0.187rem 0 0.187rem 0;
}

.image-text_4-1 {
  width: 1.974rem;
  margin-left: 0.214rem;
}

.thumbnail_6-1 {
  width: 0.374rem;
  height: 0.374rem;
  margin: 0.08rem 0 0.08rem 0;
}

.text-group_4-1 {
  width: 1.494rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.list-items_1-2 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  margin-bottom: 0.427rem;
  padding: 0.427rem 0.427rem 0.427rem 0.427rem;
}

.text-wrapper_1-2 {
  width: 8.294rem;
}

.text_6-2 {
  width: 2.134rem;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}

.text_7-2 {
  overflow-wrap: break-word;
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.027rem;
  color: rgba(21, 207, 110, 1);
}

.text-wrapper_2-2 {
  margin: 0.107rem 5.147rem 0 0;
}

.text_8-2 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.group_3-2 {
  margin: 0.214rem 1.787rem 0 0;
}

.thumbnail_4-2 {
  width: 0.374rem;
  height: 0.374rem;
  margin: 0.08rem 0 0.08rem 0;
}

.image-text_3-2 {
  width: 3.84rem;
  margin-left: 0.107rem;
}

.text-group_3-2 {
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.thumbnail_5-2 {
  width: 0.267rem;
  height: 0.16rem;
  margin: 0.187rem 0 0.187rem 0;
}

.image-text_4-2 {
  width: 1.974rem;
  margin-left: 0.214rem;
}

.thumbnail_6-2 {
  width: 0.374rem;
  height: 0.374rem;
  margin: 0.08rem 0 0.08rem 0;
}

.text-group_4-2 {
  width: 1.494rem;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}
